.product-card.container
    h5.title Product #{name}
    
    //- if otherImages
    //-   img(src=otherImages[0]).rounded.mx-auto.d-block.img-thumbnail
    //- else 
    //-   img(src=image).rounded.mx-auto.d-block.img-thumbnail
      
    #product-carousel.carousel.slide
      ol.carousel-indicators
        each img, i in images
          li(data-target='#product-carousel', data-slide-to=i)(class= i==0 ? 'active' : '')
      .carousel-inner
        each img, i in images
          .carousel-item(class=i === 0 ? 'active' : '').img-wrapper
                img.d-block.rounded.mx-auto.d-block.img-thumbnail(src=img)
      a.carousel-control-prev(href='#product-carousel', role='button', data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Previous
      a.carousel-control-next(href='#product-carousel', role='button', data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Next


    .price-box.container
        .row
            .col-4.price-color-label Preis:
            .col-8
                .price-color-value EUR #{price}
        .row
            .col-4.price-color-label Mit Apprabatt:
            .col-8
                .price-color-value EUR #{appPrice}              
                .disclaimer Alle Angabe inkl. MwSt.
              
